syntax: glob
*.o
src/*.dSYM
.gitignore~
.DS_Store
docs/.DS_Store
src/.DS_Store

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
button/Makefile
button/Makefile.in
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
files/Makefile
files/Makefile.in
fspec/Makefile
fspec/Makefile.in
fspec/futils.inc
fspec/redlib.inc
futils/Makefile
futils/Makefile.in
install-sh
missing
red/Makefile
red/Makefile.in
red/futils.inc
red/redlib.inc
scripts/Makefile.in
src/.deps/
src/Makefile.in
src/futils.inc
src/iofile.inc
src/redlib.inc
stamp-h1

docs/_build

button/libbutton.a
fspec/libfspec.a
futils/libfutils.a
red/libred.a
src/addnf
src/adnch
src/adnhand
src/adnsc
src/adnscgrad
src/air2vacuum
src/airmass
src/autocos
src/autocos2
src/basicred
src/binning
src/broadima
src/broadres
src/broadsp
src/calambda
src/cdisc
src/chancoor
src/cleanest
src/corrext
src/corrfft
src/creahelp
src/ecugal
src/esterror
src/exhead
src/exheads
src/fcalspl
src/fcalsplnew
src/fillimage
src/findarc
src/findmax
src/findmax_wl
src/fit1dpol
src/fit2dpol
src/fit2dspl
src/fitcdis
src/fitcdis_new
src/fitdata
src/fitlin
src/fitshead
src/fitstex
src/gain
src/generror
src/genimage
src/giveerrf
src/gluesc
src/growx
src/growy
src/histogram
src/ifilter
src/ifilter-new
src/imath
src/index
src/interchange_32_64
src/interlines
src/interp
src/interpmove
src/irevx
src/irevy
src/istat
src/isubset
src/leefits
src/leefits_new
src/leeposs
src/loglin
src/mcolumns
src/midelines
src/miderot
src/midez
src/movel
src/multfit
src/multpol
src/nortwi
src/offindex
src/outfitshead
src/plots
src/plotsp3d
src/portable
src/predchan
src/prfcal
src/randsc
src/readfits
src/rebincw
src/replacefits
src/resample
src/resample_flux
src/rotate
src/rvel
src/rvrelat
src/rvshift
src/rvshiftrot
src/rvz
src/sdistor
src/shiftch
src/shpol
src/skysubm
src/snratio
src/stplot
src/sunalpha
src/testrandom
src/testwc
src/tfourier
src/vaucoul
src/wcnoarc
src/writeascii
src/writefits
src/writefits_log
