syntax: glob
*.o
src/*.dSYM
.gitignore~

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
button/Makefile
button/Makefile.in
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
files/Makefile
files/Makefile.in
fspec/Makefile
fspec/Makefile.in
fspec/futils.inc
fspec/redlib.inc
futils/Makefile
futils/Makefile.in
install-sh
missing
red/Makefile
red/Makefile.in
red/futils.inc
red/redlib.inc
scripts/Makefile.in
src/.deps/
src/Makefile.in
src/futils.inc
src/iofile.inc
src/redlib.inc
stamp-h1

docs/_build
